{{define "title"}}Create a New News{{end}}
{{define "main"}}
    <form enctype="multipart/form-data" action='/snippet/create' method='POST'>
        <!-- Include the CSRF token -->
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div>
            <label>Title of the article:</label>
            {{with .Form.FieldErrors.title}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='title' value='{{.Form.Title}}'>
        </div>
        <div>
            <label>Text:</label>
            {{with .Form.FieldErrors.content}}
                <label class='error'>{{.}}</label>
            {{end}}
            <textarea name='content'>{{.Form.Content}}</textarea>
        </div>
        <div>
            <label>Upload Images:</label>
            {{with .Form.FieldErrors.images}}
                <label class='error'>{{.}}</label>
            {{end}}
                <input type="file" name="file">
        </div>
        <div>

            <label>Delete in:</label>
            {{with .Form.FieldErrors.expires}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='radio' name='expires' value='365' {{if (eq .Form.Expires 365)}}checked{{end}}> One Year
            <input type='radio' name='expires' value='7' {{if (eq .Form.Expires 7)}}checked{{end}}> One Week
            <input type='radio' name='expires' value='1' {{if (eq .Form.Expires 1)}}checked{{end}}> One Day
        </div>
        <div>
            <input type='submit' value='Publish News'>
        </div>
    </form>
{{end}}