{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - AITU News</title>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <link rel="shortcut icon" href="/static/img/icon.png" type='image/x-icon' sizes="32x32">
</head>
<body>
<header-top>
    <div class="nav">
        <a href="https://moodle.astanait.edu.kz/">Moodle</a>
        <a href="https://kuula.co/share/collection/7PDWF?fs=1&vr=1&sd=1&initload=0&thumbs=1&info=0&logo=0">3D Тур</a>
        <a href="https://astanait.edu.kz/job-contest/">Вакансии</a>
        <a href="https://astanait.edu.kz/contact/">Контакты</a>
        <a href="https://astanait.edu.kz/compliance-officer/">Комплаенс офис</a>
    </div>
</header-top>
<header>
    <div class="logo">
        <a href="/"><img src="/static/img/aitu-logo.png" alt="logo"></a>
    </div>
    {{template "nav" .}}
</header>

<main>
    <!-- Display the flash message if one exists -->
    {{with .Flash}}
    <div class='flash'>{{.}}</div>
    {{end}}
    {{template "main" .}}
</main>
<footer>
    Sponsored by <a href='https://astanait.edu.kz/'>Astana IT University</a> in {{.CurrentYear}}
</footer>
<script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}
